* Image related stuff.
Images/
*.png
Animations/

__pycache__

* Testing related files.
Temp.py
radii.txt
Notebooks/.ipynb_checkpoints/
/.ipynb_checkpoints/
*.pt

* Other folders
References/
Data/

* Documentation Ignores
doc/_*
